@model DepartmentViewModel
@{
    ViewData["Title"] = "edit page";
}

<h1>edit</h1>


<br />
<br />

<form asp-action="edit">
    <div asp-validation-summary="All" class="text-danger">

    </div>
    <partial name="shared/CreateEditDepartmentPartial"></partial>
    <input type="submit" value="save" class="btn btn-primary" />|
    <a asp-action="Index" class="btn btn-light">cancle</a>
</form>

