@model EmployeeViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<br />
<br />


<form action="/Employee/Create" method="post" enctype="multipart/form-data">
    <partial name="shared/CreateEditEmployeePartial"></partial>
    <input type="submit" value="Create" class="btn btn-primary" />|
    <a asp-action="Index" class="btn btn-light">Back To List</a>
</form>